<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Boutique Dress Inventory</title>
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <h2><a href="{% url 'home' %}" style="margin:0; text-decoration:none;">Boutique Inventory</a></h2>
        <div>
            {% if user.is_authenticated %}
                <span>Welcome, <strong>{{ user.username }}</strong></span>
                <a href="{% url 'dress_list' %}">Inventory</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    
    <footer>
        <p>&copy; 2026 Boutique Dress Inventory System | All Rights Reserved</p>
    </footer>

    
    <script src="{% static 'script.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>